.alert {
    margin-block: var(--krd-alert-margin-block-block);
    padding-block: var(--krd-alert-padding-block);
    padding-inline: var(--krd-alert-padding-inline);
    background-color: var(--krd-alert-background-color);
    display: grid;
    gap: var(--krd-alert-gap);
    color: var(--krd-alert-color);
    border-width: var(--krd-alert-border-width);
    border-style: var(--krd-alert-border-style);
    border-color: var(--krd-alert-border-color);
    border-radius: var(--krd-alert-border-radius);
    box-shadow: none;
}

.alert-destructive {
    --krd-alert-background-color: var(--krd-alert-destructive-background-color);
    --krd-alert-color: var(--krd-alert-destructive-color);
    --krd-alert-border-color: var(--krd-alert-destructive-border-color);
    --krd-alert-description-color: currentcolor;
}

.alert-title {
    margin-block-end: 0;
    font-size: var(--krd-alert-title-font-size);
    font-weight: var(--krd-alert-title-font-weight);
    line-height: var(--krd-alert-title-line-height);
    color: var(--krd-alert-title-color);
}

.alert-description {
    margin-block-end: 0;
    display: grid;
    color: var(--krd-alert-description-color);
}
