.badge {
    padding-block: var(--krd-badge-padding-block);
    padding-inline: var(--krd-badge-padding-inline);
    background-color: var(--krd-badge-background-color);
    display: inline-flex;
    color: var(--krd-badge-color);
    border-width: var(--krd-badge-border-width);
    border-style: var(--krd-badge-border-style);
    border-color: var(--krd-badge-border-color);
    border-radius: var(--krd-badge-border-radius);
    font-size: var(--krd-badge-font-size);
    font-weight: var(--krd-badge-font-weight);
    line-height: var(--krd-badge-line-height);
}

.badge-default {
    --krd-badge-background-color: var(--krd-color-primary);
    --krd-badge-color: var(--krd-color-primary-foreground);
    --krd-badge-border-width: 0;
    --krd-badge-border-style: initial;
    --krd-badge-border-color: none;
}

.badge-secondary {
    --krd-badge-background-color: var(--krd-color-secondary);
    --krd-badge-color: var(--krd-color-secondary-foreground);
    --krd-badge-border-width: 0;
    --krd-badge-border-style: initial;
    --krd-badge-border-color: none;
}

.badge-destructive {
    --krd-badge-background-color: var(--krd-color-destructive);
    --krd-badge-color: var(--krd-color-destructive-foreground);
    --krd-badge-border-width: 0;
    --krd-badge-border-style: initial;
    --krd-badge-border-color: none;
}

.badge-outline {
    --krd-badge-background-color: transparent;
    --krd-badge-color: var(--krd-color-foreground);
    --krd-badge-border-width: 1px;
    --krd-badge-border-style: solid;
    --krd-badge-border-color: var(--krd-color-border);
}

@media (prefers-contrast: more) {
    .badge {
        border-width: max(2px, var(--krd-badge-border-width));
        border-style: solid;
        border-color: currentcolor;
    }
}
