.badge {
    padding-block: var(--badge-padding-block);
    padding-inline: var(--badge-padding-inline);
    background-color: var(--badge-background-color);
    display: inline-flex;
    color: var(--badge-color);
    border-width: var(--badge-border-width);
    border-style: var(--badge-border-style);
    border-color: var(--badge-border-color);
    border-radius: var(--badge-border-radius);
    font-size: var(--badge-font-size);
    font-weight: var(--badge-font-weight);
    line-height: var(--line-height-120);
}

.badge-default {
    --badge-background-color: var(--c-black);
    --badge-color: var(--c-black-background-color-emphasis);
    --badge-border-width: 0;
    --badge-border-style: initial;
    --badge-border-color: none;
}

.badge-secondary {
    --badge-background-color: var(--c-secondary);
    --badge-color: var(--c-black);
    --badge-border-width: 0;
    --badge-border-style: initial;
    --badge-border-color: none;
}

.badge-destructive {
    --badge-background-color: var(--c-destructive);
    --badge-color: var(--c-destructive-background-color-emphasis);
    --badge-border-width: 0;
    --badge-border-style: initial;
    --badge-border-color: none;
}

.badge-outline {
    --badge-background-color: transparent;
    --badge-color: var(--c-black);
    --badge-border-width: 1px;
    --badge-border-style: solid;
    --badge-border-color: var(--c-gray-contrast);
}

@media (prefers-contrast: more) {
    .badge {
        border-width: max(2px, var(--badge-border-width));
        border-style: solid;
        border-color: currentcolor;
    }
}
