.block-navigation {
    display: block;
}

.block-navigation-list {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(var(--block-navigation-columns), minmax(0, 1fr));
    gap: var(--block-navigation-gap);
    list-style: none;
}

.block-navigation-list-item {
    min-width: 0;
}

.block-navigation-list-item-link {
    min-block-size: var(--block-navigation-item-min-height);
    background-color: var(--block-navigation-item-background-color);
    color: var(--block-navigation-item-color);
    border-width: var(--block-navigation-item-border-width);
    border-style: var(--block-navigation-item-border-style);
    border-color: var(--block-navigation-item-border-color);
    border-radius: var(--block-navigation-item-border-radius);
    padding-block: var(--block-navigation-item-padding-block);
    padding-inline: var(--block-navigation-item-padding-inline);
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    transition:
        background-color var(--transition-default) var(--transition-ease),
        border-color var(--transition-default) var(--transition-ease),
        box-shadow var(--transition-default) var(--transition-ease);
}

.block-navigation-list-item-link:focus,
.block-navigation-list-item-link:hover {
    background-color: var(--block-navigation-item-background-color-hover);
    border-color: var(--block-navigation-item-border-color-hover);
    box-shadow: var(--block-navigation-item-box-shadow-hover);
}

.block-navigation-list-item-text {
    font-size: var(--block-navigation-item-font-size);
    font-weight: var(--block-navigation-item-font-weight);
    line-height: var(--block-navigation-item-line-height);
    color: currentcolor;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: var(--block-navigation-item-text-decoration-thickness);
    text-underline-offset: var(--block-navigation-item-text-underline-offset);
    transition: text-decoration-color var(--transition-default) var(--transition-ease);
}

.block-navigation-list-item-link:hover .block-navigation-list-item-text,
.block-navigation-list-item-link:focus-visible .block-navigation-list-item-text {
    text-decoration-color: currentcolor;
}

@media (min-width: 48rem) {
    .block-navigation-list {
        --block-navigation-columns: 2;
    }
}
