blockquote > * {
    padding-inline: var(--blockquote-padding-inline);
    padding-block: var(--blockquote-padding-block);
    font-style: italic;
    border-inline-start-width: var(--blockquote-border-width);
    border-inline-start-style: solid;
    border-inline-start-color: var(--c-secondary);
}

blockquote p::before {
    margin-inline-end: var(--blockquote-quote-gap);
    content: open-quote;
}

blockquote p::after {
    margin-inline-start: var(--blockquote-quote-gap);
    content: close-quote;
}
