.btn {
    padding-block: var(--button-padding-block);
    padding-inline: var(--button-padding-inline);
    background-color: var(--button-background-color);
    display: inline-flex;
    justify-content: space-between;
    gap: var(--button-gap);
    line-height: var(--line-height-120);
    text-decoration: none;
    color: var(--button-color-emphasis);
    user-select: none;
    border-width: var(--button-border-width);
    border-style: var(--button-border-style);
    border-color: var(--button-border-color);
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    letter-spacing: var(--button-letter-spacing);
    text-transform: var(--button-text-transform);
    border-radius: var(--button-border-radius);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    box-shadow: none;
    transition-property: background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-ease);
    text-wrap: pretty;
}

.btn:disabled {
    pointer-events: none;
}

.btn:disabled,
.btn:is(:hover, :focus-visible) {
    background-color: var(--button-hover);
}

@media (prefers-contrast: more) {
    .btn {
        border-width: max(2px, var(--button-border-width));
        border-style: solid;
        border-color: currentcolor;
    }
}

/* Standard variants */
.btn-default {
    --button-background-color: var(--c-black);
    --button-color-emphasis: var(--c-black-background-color-emphasis);
    --button-border-color: var(--c-black-contrast);
    --button-hover: var(--c-black-contrast);
}

.btn-secondary {
    --button-background-color: var(--c-secondary);
    --button-color-emphasis: var(--c-black);
    --button-border-color: var(--c-secondary-contrast);
    --button-hover: var(--c-secondary-contrast);
}

.btn-destructive {
    --button-background-color: var(--c-destructive);
    --button-color-emphasis: var(--c-destructive-background-color-emphasis);
    --button-border-color: var(--c-destructive-contrast);
    --button-hover: var(--c-destructive-contrast);
}

/* Outline */
.btn-outline {
    --button-background-color: transparent;
    --button-color-emphasis: var(--c-black);
    --button-border-width: 1px;
    --button-border-style: solid;
    --button-border-color: var(--c-gray-contrast);
    --button-hover: var(--c-white-contrast);
}

/* Ghost */
.btn-ghost {
    --button-background-color: transparent;
    --button-color-emphasis: var(--c-black);
    --button-border-width: 0;
    --button-border-style: inherit;
    --button-border-color: none;
    --button-hover: var(--c-white-contrast);
}

/* Button with icon */
.btn-icon {
    --button-background-color: var(--c-white-200);
    --button-hover: var(--c-white-200-hover);
    --button-border-width: 0;
    --button-border-style: inherit;
    --button-border-color: none;

    padding-block: var(--button-icon-padding-block);
    padding-inline: var(--button-icon-padding-inline);
    line-height: var(--base-line-height);
}

.btn-icon svg {
    fill: var(--button-color-emphasis);
    font-size: var(--menu-font-size);
}

.btn-icon:disabled,
.btn-icon:hover,
.btn-icon:focus-visible {
    background-color: var(--button-hover);
}

/* Linked button */
.btn-link {
    --button-background-color: transparent;
    --button-color-emphasis: var(--button-link-color);
    --button-border-width: 0;
    --button-border-style: inherit;
    --button-border-color: none;

    padding-block: var(--button-link-padding-block);
    padding-inline: var(--button-link-padding-inline);
    display: inline-flex;
    align-items: center;
    text-transform: inherit;
    border-radius: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.btn-link:disabled,
.btn-link:hover,
.btn-link:focus-visible {
    background-color: transparent;
}

/* Close button */
.btn-close {
    --button-padding-block: 0;
    --button-padding-inline: 0;
    --button-border-width: 0;
    --button-border-style: inherit;
    --button-border-color: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Size */
.btn-sm {
    padding-block: var(--button-sm-padding-block);
    padding-inline: var(--button-sm-padding-inline);
}
