.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-trigger {
    cursor: pointer;
    user-select: none;
    padding-block: var(--dropdown-item-text-padding-block);
    padding-inline: var(--dropdown-item-text-padding-inline);
    border: none;
    display: inline-flex;
    align-items: center;
    gap: calc(var(--spacer) / 2);
    font-size: var(--dropdown-item-text-font-size);
    anchor-name: --dropdown-trigger;
}

.dropdown-summary-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url('@krudi/icons/caret-down.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: transform var(--transition-decorative-duration) ease-in-out;
}

.dropdown:has(.dropdown-list:popover-open) .dropdown-summary-icon {
    transform: rotate(180deg);
}

.dropdown.is-open .dropdown-summary-icon {
    transform: rotate(180deg);
}

.dropdown-list {
    width: var(--dropdown-content-width);
    background-color: var(--c-white);
    overflow: hidden;
    z-index: var(--z-index-dropdown);
    display: none;
    opacity: 0;
    border-width: var(--dropdown-content-border-width);
    border-style: var(--dropdown-content-border-style);
    border-color: var(--dropdown-content-border-color);
    border-radius: var(--dropdown-content-border-radius);
    box-shadow: var(--dropdown-content-box-shadow);
    padding-block: var(--dropdown-menu-list-padding-block);
    padding-inline-start: 0;
    flex-direction: column;
    list-style: none;
    position: fixed;
    inset: unset;
    transition: opacity var(--transition-duration);
}

.dropdown-list:popover-open,
.dropdown.is-open .dropdown-list {
    display: flex;
    opacity: 1;
}

@supports (position-anchor: --dropdown-trigger) {
    .dropdown-list {
        position-anchor: --dropdown-trigger;
        inset-block-start: calc(anchor(bottom) + var(--dropdown-content-margin-block-start));
        inset-inline-start: calc(anchor(start) + var(--dropdown-content-offset-inline, 0));
    }
}

.dropdown-list-item {
    width: 100%;
    display: block;
    transition-property: background-color;
    transition-duration: var(--transition-duration);
}

.dropdown-list-item:hover,
.dropdown-list-item:focus-visible {
    background-color: var(--c-white-200);
}

.dropdown-list-item-link {
    width: 100%;
    padding-block: var(--dropdown-item-text-padding-block);
    padding-inline: var(--dropdown-item-text-padding-inline);
    display: inline-flex;
    gap: var(--spacer);
    text-decoration: none;
    color: var(--c-black);
    cursor: pointer;
    font-size: var(--dropdown-item-text-font-size);
    font-weight: initial;
}
