.modal {
    width: 100%;
    max-width: var(--krd-modal-max-width);
    padding-block: var(--krd-modal-padding-block);
    padding-inline: var(--krd-modal-padding-inline);
    background-color: var(--krd-modal-background-color);
    border: 0;
    border-radius: var(--krd-modal-border-radius);
    display: none;
    opacity: 0;
    color: var(--krd-modal-color);
    transition-property: display, opacity;
    transition-duration: var(--krd-transition-duration);
    transition-timing-function: var(--krd-transition-ease);
    transition-behavior: allow-discrete;
    z-index: var(--krd-z-index-modal);
}

.modal[open] {
    display: block;
    opacity: 1;

    @starting-style {
        opacity: 0;
    }
}

.modal[open]:has(.modal-body) {
    box-shadow: var(--krd-elevation-md);
}

.modal[open]::backdrop {
    opacity: 1;
}

.modal::backdrop {
    background: var(--krd-modal-backdrop);
    opacity: 0;
    transition-property: opacity, display, overlay;
    transition-duration: var(--krd-transition-duration);
    transition-timing-function: var(--krd-transition-ease);
    transition-behavior: allow-discrete;

    @starting-style {
        opacity: 0;
    }
}

.modal-header {
    border-bottom-width: var(--krd-modal-header-border-bottom-width);
    border-bottom-style: var(--krd-modal-header-border-bottom-style);
    border-bottom-color: var(--krd-modal-header-border-bottom-color);
    text-wrap: balance;
}

.modal-close {
    position: absolute;
    right: var(--krd-modal-close-inset-inline-end);
    top: var(--krd-modal-close-inset-block-start);
}

.modal-body {
    padding-block-start: var(--krd-modal-body-padding-block-start);
}

.modal-footer {
    padding-block-start: var(--krd-modal-footer-padding-block-start);
    border-top-width: var(--krd-modal-footer-border-top-width);
    border-top-style: var(--krd-modal-footer-border-top-style);
    border-top-color: var(--krd-modal-footer-border-top-color);
}

@media (prefers-reduced-motion: reduce) {
    .modal,
    .modal::backdrop {
        transition: none !important;
    }
}
