# Dependencies files
node_modules

# Build output files
build
dist
dev-dist
storybook-static
coverage
public

# Environment files
*.env
!.env-*

# Git files
.gitignore
.gitkeep

# Tooling files
.prettierignore
.turbo
.cache
*.tsbuildinfo
debug-storybook.log

# SVG files
*.svg

# Lock files
package-lock.json
