/**
 * @tokens Components/Button
 */
:root {
  --krd-button-padding-inline: 0.75rem;
  --krd-button-padding-block: 0.5rem;
  --krd-button-border-radius: 0.5rem;
  --krd-button-border-color: #d5dae2;
  --krd-button-background-color: #1c222e;
  --krd-button-color: #ffffff;
}

/**
 * @tokens Brand/Design Tokens/Colour
 * @presenter Color
 */
:root {
  --krd-color-primary: #1c222e;
  --krd-color-primary-foreground: #ffffff;
  --krd-color-border: #d5dae2;
}
