.bg-white {
    background-color: var(--c-white);
    color: var(--c-white-background-color-emphasis);
}

.bg-white-100 {
    background-color: var(--c-white-100);
    color: var(--c-white-100-background-color-emphasis);
}

.bg-white-200 {
    background-color: var(--c-white-200);
    color: var(--c-white-200-background-color-emphasis);
}

.bg-black {
    background-color: var(--c-black);
    color: var(--c-black-background-color-emphasis);
}

.bg-gray {
    background-color: var(--c-gray);
    color: var(--c-gray-background-color-emphasis);
}



.bg-secondary {
    background-color: var(--c-secondary);
    color: var(--c-secondary-background-color-emphasis);
}
