.text-white {
    color: var(--c-white);
}

.text-white-100 {
    color: var(--c-white-100);
}

.text-white-200 {
    color: var(--c-white-200);
}

.text-black {
    color: var(--c-black);
}

.text-gray {
    color: var(--c-gray);
}



.text-secondary {
    color: var(--c-secondary);
}
