.text-xs {
    font-size: var(--krd-font-size-xs);
}

.text-sm {
    font-size: var(--krd-font-size-sm);
}

.text-md {
    font-size: var(--krd-font-size-md);
}

.text-lg {
    font-size: var(--krd-font-size-lg);
}

.text-xl {
    font-size: var(--krd-font-size-xl);
}
