.p-0 {
    padding-block: var(--spacer-0);
    padding-inline: var(--spacer-0);
}

.p-1 {
    padding-block: var(--spacer-1);
    padding-inline: var(--spacer-1);
}

.p-2 {
    padding-block: var(--spacer-2);
    padding-inline: var(--spacer-2);
}

.p-3 {
    padding-block: var(--spacer-3);
    padding-inline: var(--spacer-3);
}

.p-4 {
    padding-block: var(--spacer-4);
    padding-inline: var(--spacer-4);
}

.p-5 {
    padding-block: var(--spacer-5);
    padding-inline: var(--spacer-5);
}

.p-6 {
    padding-block: var(--spacer-6);
    padding-inline: var(--spacer-6);
}

.p-7 {
    padding-block: var(--spacer-7);
    padding-inline: var(--spacer-7);
}

.p-8 {
    padding-block: var(--spacer-8);
    padding-inline: var(--spacer-8);
}

.p-9 {
    padding-block: var(--spacer-9);
    padding-inline: var(--spacer-9);
}

.p-10 {
    padding-block: var(--spacer-10);
    padding-inline: var(--spacer-10);
}

.p-11 {
    padding-block: var(--spacer-11);
    padding-inline: var(--spacer-11);
}

.pt-0 {
    padding-block-start: var(--spacer-0);
}

.pt-1 {
    padding-block-start: var(--spacer-1);
}

.pt-2 {
    padding-block-start: var(--spacer-2);
}

.pt-3 {
    padding-block-start: var(--spacer-3);
}

.pt-4 {
    padding-block-start: var(--spacer-4);
}

.pt-5 {
    padding-block-start: var(--spacer-5);
}

.pt-6 {
    padding-block-start: var(--spacer-6);
}

.pt-7 {
    padding-block-start: var(--spacer-7);
}

.pt-8 {
    padding-block-start: var(--spacer-8);
}

.pt-9 {
    padding-block-start: var(--spacer-9);
}

.pt-10 {
    padding-block-start: var(--spacer-10);
}

.pt-11 {
    padding-block-start: var(--spacer-11);
}

.pb-0 {
    padding-block-end: var(--spacer-0);
}

.pb-1 {
    padding-block-end: var(--spacer-1);
}

.pb-2 {
    padding-block-end: var(--spacer-2);
}

.pb-3 {
    padding-block-end: var(--spacer-3);
}

.pb-4 {
    padding-block-end: var(--spacer-4);
}

.pb-5 {
    padding-block-end: var(--spacer-5);
}

.pb-6 {
    padding-block-end: var(--spacer-6);
}

.pb-7 {
    padding-block-end: var(--spacer-7);
}

.pb-8 {
    padding-block-end: var(--spacer-8);
}

.pb-9 {
    padding-block-end: var(--spacer-9);
}

.pb-10 {
    padding-block-end: var(--spacer-10);
}

.pb-11 {
    padding-block-end: var(--spacer-11);
}

.pl-0 {
    padding-inline-start: var(--spacer-0);
}

.pl-1 {
    padding-inline-start: var(--spacer-1);
}

.pl-2 {
    padding-inline-start: var(--spacer-2);
}

.pl-3 {
    padding-inline-start: var(--spacer-3);
}

.pl-4 {
    padding-inline-start: var(--spacer-4);
}

.pl-5 {
    padding-inline-start: var(--spacer-5);
}

.pl-6 {
    padding-inline-start: var(--spacer-6);
}

.pl-7 {
    padding-inline-start: var(--spacer-7);
}

.pl-8 {
    padding-inline-start: var(--spacer-8);
}

.pl-9 {
    padding-inline-start: var(--spacer-9);
}

.pl-10 {
    padding-inline-start: var(--spacer-10);
}

.pl-11 {
    padding-inline-start: var(--spacer-11);
}

.pr-0 {
    padding-inline-end: var(--spacer-0);
}

.pr-1 {
    padding-inline-end: var(--spacer-1);
}

.pr-2 {
    padding-inline-end: var(--spacer-2);
}

.pr-3 {
    padding-inline-end: var(--spacer-3);
}

.pr-4 {
    padding-inline-end: var(--spacer-4);
}

.pr-5 {
    padding-inline-end: var(--spacer-5);
}

.pr-6 {
    padding-inline-end: var(--spacer-6);
}

.pr-7 {
    padding-inline-end: var(--spacer-7);
}

.pr-8 {
    padding-inline-end: var(--spacer-8);
}

.pr-9 {
    padding-inline-end: var(--spacer-9);
}

.pr-10 {
    padding-inline-end: var(--spacer-10);
}

.pr-11 {
    padding-inline-end: var(--spacer-11);
}

.px-0 {
    padding-inline: var(--spacer-0);
}

.px-1 {
    padding-inline: var(--spacer-1);
}

.px-2 {
    padding-inline: var(--spacer-2);
}

.px-3 {
    padding-inline: var(--spacer-3);
}

.px-4 {
    padding-inline: var(--spacer-4);
}

.px-5 {
    padding-inline: var(--spacer-5);
}

.px-6 {
    padding-inline: var(--spacer-6);
}

.px-7 {
    padding-inline: var(--spacer-7);
}

.px-8 {
    padding-inline: var(--spacer-8);
}

.px-9 {
    padding-inline: var(--spacer-9);
}

.px-10 {
    padding-inline: var(--spacer-10);
}

.px-11 {
    padding-inline: var(--spacer-11);
}

.py-0 {
    padding-block: var(--spacer-0);
}

.py-1 {
    padding-block: var(--spacer-1);
}

.py-2 {
    padding-block: var(--spacer-2);
}

.py-3 {
    padding-block: var(--spacer-3);
}

.py-4 {
    padding-block: var(--spacer-4);
}

.py-5 {
    padding-block: var(--spacer-5);
}

.py-6 {
    padding-block: var(--spacer-6);
}

.py-7 {
    padding-block: var(--spacer-7);
}

.py-8 {
    padding-block: var(--spacer-8);
}

.py-9 {
    padding-block: var(--spacer-9);
}

.py-10 {
    padding-block: var(--spacer-10);
}

.py-11 {
    padding-block: var(--spacer-11);
}
