:is(a, button, input, textarea, summary) {
    --krd-outline-size: max(2px, 0.08em);
    --krd-outline-style: solid;
    --krd-outline-color: currentcolor;
}

:is(a, button, input, textarea, summary):focus-visible {
    outline: var(--krd-outline-size) var(--krd-outline-style) var(--krd-outline-color);
    outline-offset: var(--krd-outline-offset, var(--krd-outline-size));
}

:is(a, button, input, textarea, summary):focus:not(:focus-visible) {
    outline: none;
}
