h1,
.h1 {
    font-weight: 700;
    font-size: var(--heading-1);
    font-family: var(--heading-font-family);
    line-height: 1.1;
    display: block;
    margin-block-end: var(--spacer);
}

h2,
.h2 {
    font-weight: 700;
    font-size: var(--heading-2);
    font-family: var(--heading-font-family);
    line-height: 1.15;
    display: block;
    margin-block-end: var(--spacer);
}

h3,
.h3 {
    font-weight: 700;
    font-size: var(--heading-3);
    font-family: var(--heading-font-family);
    line-height: 1.2;
    display: block;
    margin-block-end: var(--spacer);
}

h4,
.h4 {
    font-weight: 700;
    font-size: var(--heading-4);
    font-family: var(--heading-font-family);
    line-height: 1.25;
    display: block;
    margin-block-end: var(--spacer);
}

h5,
.h5 {
    font-weight: 700;
    font-size: var(--heading-5);
    font-family: var(--heading-font-family);
    line-height: 1.3;
    display: block;
    margin-block-end: var(--spacer);
}

h6,
.h6 {
    font-weight: 700;
    font-size: var(--heading-6);
    font-family: var(--heading-font-family);
    line-height: 1.4;
    display: block;
    margin-block-end: var(--spacer);
}

.p,
p {
    margin-block-end: var(--p-margin-block-start);
    line-height: var(--p-line-height);
    color: var(--p-color);
    font-size: var(--p-font-size);
}

.p,
p:last-child {
    margin-block-end: 0;
}

.a,
a {
    color: var(--a-color);
    text-decoration-style: var(--a-text-decoration-style);
    text-decoration-thickness: var(--a-text-decoration-thickness);
    text-underline-offset: var(--a-text-underline-offset);
    font-size: var(--a-font-size);
}

a:is(:hover, :focus) {
    text-decoration-style: var(--a-text-decoration-style-hover);
    color: var(--c-black);
}

:is(
        a[href^='tel:']:not([class]),
        a[href^='mailto:']:not([class]),
        a[download]:not([class]),
        a[href^='http://']:not([class]),
        a[href^='https://']:not([class])
    ):not(:has(img))::after {
    width: 1em;
    height: 1em;
    margin-inline: 0.25rem;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    content: ' ';
    vertical-align: middle;
    color: var(--a-color);
}

a[href^='tel:']::after {
    background-image: url('@krudi/icons/phone.svg');
}

a[href^='mailto:']::after {
    background-image: url('@krudi/icons/envelope.svg');
}

a[download]::after {
    background-image: url('@krudi/icons/download.svg');
}

a[href^='http://']::after,
a[href^='https://']::after {
    background-image: url('@krudi/icons/external-link.svg');
}
