.container {
    width: 100%;
    max-width: var(--krd-layout-container-max-width);
    margin-inline: auto;
    padding-inline: var(--krd-layout-container-spacer);
    box-sizing: border-box;
    container-type: inline-size;
}

.container-fluid {
    width: 100%;
    padding-inline: var(--krd-layout-container-spacer);
    box-sizing: border-box;
    container-type: inline-size;
}
