.container {
    width: min(var(--container-max-width), 100% - var(--spacer-3));
    margin-inline: auto;
    container-type: inline-size;
}

.container-fluid {
    width: min(var(--container-max-width), 100% - var(--spacer-3));
    container-type: inline-size;
}
