@layer variables, theme, base, layout, html, components, forms, utilities, overrides;

@import './theme.css' layer(theme);
@import './variables.css' layer(variables);
@import './base/index.css' layer(base);
@import './layout/index.css' layer(layout);
@import './html/index.css' layer(html);
@import './components/index.css' layer(components);
@import './forms/index.css' layer(forms);
@import './utilities/index.css' layer(utilities);
