@layer theme {
    :root {
        color-scheme: light dark;

        /*
            Public semantic theme tokens
            Override these tokens to re-theme the system in most cases.
            Components and higher-level tokens should depend on this semantic layer.
        */
        --background: var(--color-neutral-0);
        --foreground: var(--color-neutral-900);
        --surface: var(--color-neutral-0);
        --surface-foreground: var(--color-neutral-900);
        --surface-subtle: var(--color-neutral-50);
        --surface-subtle-hover: var(--color-neutral-100);
        --muted: var(--color-neutral-50);
        --muted-foreground: var(--color-neutral-700);
        --border: var(--color-neutral-200);
        --input: var(--color-neutral-200);
        --ring: var(--color-secondary-100);
        --primary: var(--color-neutral-900);
        --primary-foreground: var(--color-neutral-0);
        --secondary: var(--color-secondary-100);
        --secondary-foreground: var(--color-neutral-900);
        --destructive: var(--color-destructive-600);
        --destructive-foreground: var(--color-neutral-0);
        --accent: var(--secondary);
        --accent-foreground: var(--secondary-foreground);
    }

    .light {
        color-scheme: light;
    }

    .dark {
        color-scheme: dark;
    }
}
