@layer theme {
    :root {
        color-scheme: light dark;

        /* Theme variable colors */
        --c-white: light-dark(#ffffff, #1c222e);
        --c-black: light-dark(#1c222e, #ffffff);
        --c-gray: light-dark(#4e596a, #b0b7c3);
        --c-secondary: light-dark(#f4f4f5, #27272a);
        --c-destructive: light-dark(#dc2626, #f87171);

        /* Palette */
        --c-white-100: light-dark(#f6f7fb, #151515);
        --c-white-100-hover: var(--c-white-100);
        --c-white-100-background-color-emphasis: var(--c-black);
        --c-white-200: light-dark(#efefef, #2c2c2d);
        --c-white-200-hover: var(--c-white-200);
        --c-white-200-background-color-emphasis: var(--c-black);
        --c-white-300: light-dark(#e2e5ea, #3a3a3b);
        --c-white-300-hover: var(--c-white-300);
        --c-white-300-background-color-emphasis: var(--c-black);

        /* Theme colors */

        /* White */
        --c-white-hover: var(--c-white);
        --c-white-background-color-emphasis: var(--c-black);
        --c-white-contrast: color-mix(in srgb, var(--c-white) 85%, var(--c-black));

        /* Black */
        --c-black-hover: var(--c-black);
        --c-black-background-color-emphasis: var(--c-white);
        --c-black-contrast: color-mix(in srgb, var(--c-black) 85%, var(--c-white));

        /* Gray */
        --c-gray-hover: var(--c-gray);
        --c-gray-background-color-emphasis: var(--c-white);
        --c-gray-contrast: color-mix(in srgb, var(--c-gray) 85%, var(--c-black));

        /* Secondary */
        --c-secondary-hover: var(--c-secondary);
        --c-secondary-background-color-emphasis: var(--c-black);
        --c-secondary-contrast: color-mix(in srgb, var(--c-secondary) 85%, var(--c-black));

        /* Destructive */
        --c-destructive-hover: var(--c-destructive);
        --c-destructive-background-color-emphasis: var(--c-white);
        --c-destructive-contrast: color-mix(in srgb, var(--c-destructive) 85%, var(--c-black));
    }

    .light {
        color-scheme: light;
    }

    .dark {
        color-scheme: dark;
    }
}
