.form-block {
    margin-block-end: var(--krd-form-block-margin-block-end);
}

.form-block > .form-block:last-of-type {
    margin-block-end: 0;
}

.form-block:has(.form-control:user-invalid) .form-label,
.form-block:has(.form-select:user-invalid) .form-label {
    color: var(--krd-form-text-error-color);
}

.form-block:has(.form-control:user-invalid) .form-text,
.form-block:has(.form-control:user-invalid) .form-text-hint,
.form-block:has(.form-select:user-invalid) .form-text,
.form-block:has(.form-select:user-invalid) .form-text-hint {
    color: var(--krd-form-text-error-color);
}

.form-block:has(.form-control:user-valid) .form-label,
.form-block:has(.form-select:user-valid) .form-label {
    color: var(--krd-color-accent);
}

.form-block:has(.form-control:user-valid) .form-text,
.form-block:has(.form-select:user-valid) .form-text {
    color: var(--krd-color-accent);
}
