.fieldset {
    min-width: 0;
    margin: 0;
    padding-block: var(--form-fieldset-padding-block);
    padding-inline: var(--form-fieldset-padding-inline);
    background-color: var(--form-fieldset-background-color);
    border-width: var(--form-fieldset-border-width);
    border-style: var(--form-fieldset-border-style);
    border-color: var(--form-fieldset-border-color);
    border-radius: var(--form-fieldset-border-radius);
}

.fieldset + .fieldset {
    margin-block-start: calc(var(--spacer) * 2);
}

.fieldset:has(.form-control:user-invalid) {
    border-color: var(--form-text-error-color);
}

.fieldset:has(.form-control:user-valid) {
    border-color: var(--form-fieldset-border-color-valid);
}
