.form-control {
    width: 100%;
    padding-block: var(--krd-form-input-padding-block);
    padding-inline: var(--krd-form-input-padding-inline);
    background-color: var(--krd-form-input-background-color);
    display: block;
    color: var(--krd-form-input-color);
    caret-color: var(--krd-color-accent);
    border-width: var(--krd-form-input-border-width);
    border-style: var(--krd-form-input-border-style);
    border-color: var(--krd-form-input-border-color);
    border-radius: var(--krd-form-input-border-radius);
    font-size: var(--krd-form-input-font-size);
    line-height: var(--krd-form-input-line-height);
    transition-property: border-color;
    transition-duration: var(--krd-transition-duration);
    transition-timing-function: var(--krd-transition-ease);
}

.form-control:focus-visible {
    border-color: var(--krd-form-input-border-color-focus);
}

.form-control:user-valid {
    border-color: var(--krd-color-accent);
}

.form-control:user-invalid {
    border-color: var(--krd-form-text-error-color);
}

@media (prefers-contrast: more) {
    .form-control {
        border-width: max(2px, var(--krd-form-input-border-width));
    }
}

.form-control::placeholder {
    opacity: 1;
}

.form-control:disabled {
    background-color: var(--krd-color-surface-subtle-hover);
    opacity: 1;
}

.form-control::-webkit-calendar-picker-indicator {
    display: none;
    opacity: 0;
}
