.form-input-group {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.form-input-group > .form-control {
    width: 1%;
    min-width: 0;
    position: relative;
    flex: 1 1 auto;
}

.form-input-group > .form-control:focus-visible,
.form-input-group > .btn:focus-visible {
    z-index: 5;
}

.form-input-group > :not(:last-child) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.form-input-group > :not(:first-child) {
    margin-left: -1px;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.form-input-group > :first-child {
    border-top-left-radius: var(--form-input-border-radius);
    border-bottom-left-radius: var(--form-input-border-radius);
}

.form-input-group > :last-child {
    border-top-right-radius: var(--form-input-border-radius);
    border-bottom-right-radius: var(--form-input-border-radius);
}

.form-input-group-text {
    background-color: var(--form-input-background-color);
    padding-block: var(--form-input-padding-block);
    padding-inline: var(--form-input-padding-inline);
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-align: center;
    border-width: var(--form-input-border-width);
    border-style: var(--form-input-border-style);
    border-color: var(--form-input-border-color);
    border-radius: var(--form-input-border-radius);
}
