.form-label {
    margin-block-end: var(--form-label-margin-block-end);
    display: block;
    cursor: pointer;
    font-weight: var(--form-label-font-weight);
    text-wrap: pretty;
    line-height: var(--base-line-height);
}

.form-label-required {
    color: var(--form-text-error-color);
    font-weight: 700;
}
