.form-label {
    margin-block-end: var(--krd-form-label-margin-block-end);
    display: block;
    cursor: pointer;
    font-weight: var(--krd-form-label-font-weight);
    text-wrap: pretty;
    line-height: var(--krd-form-label-line-height);
}

.form-label-required {
    color: var(--krd-form-text-error-color);
    font-weight: var(--krd-form-label-required-font-weight);
}
