.form-legend {
    width: auto;
    margin-block-end: 0;
    padding: 0;
    float: none;
    line-height: var(--form-legend-line-height);
    font-size: var(--form-legend-form-size);
    font-weight: var(--form-legend-form-weight);
}

.form-legend + * {
    clear: none;
}
