.form-select {
    width: 100%;
    padding-block: var(--form-input-padding-block);
    padding-inline: var(--form-input-padding-inline);
    appearance: none;
    background-color: var(--form-input-background-color);
    display: block;
    color: var(--form-input-color);
    border-width: var(--form-input-border-width);
    border-style: var(--form-input-border-style);
    border-color: var(--form-input-border-color);
    border-radius: var(--form-input-border-radius);
    font-size: var(--form-input-font-size);
    line-height: var(--form-input-line-height);
    transition-property: border-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-ease);
}

.form-select:focus-visible {
    border-color: var(--form-input-border-color-focus);
}

.form-select:user-valid {
    border-color: var(--accent);
}

.form-select:user-invalid {
    border-color: var(--form-text-error-color);
}

@media (prefers-contrast: more) {
    .form-select {
        border-width: max(2px, var(--form-input-border-width));
    }
}

.form-select:disabled {
    background-color: var(--surface-subtle-hover);
    opacity: 1;
}

.form-select[multiple] {
    min-block-size: var(--form-select-multiple-min-block-size);
    padding-inline-end: var(--form-input-padding-inline);
    background-image: none;
}
