html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--body-background-color);
    line-height: var(--body-line-height);
    text-size-adjust: 100%;
    text-rendering: optimizelegibility;
    color: var(--body-color);
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    overflow-x: hidden;
}
