name: Lint (styles package)

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    paths:
      - "packages/styles/**"

concurrency:
  group: lint-styles-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  lint:
    if: ${{ github.actor != 'dependabot[bot]' }}
    timeout-minutes: 15
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        lint-commands:
          - "npm run lint:stylelint"

    steps:
      - uses: krudi/reusable-actions/.github/actions/github-checkout@main
      - uses: krudi/reusable-actions/.github/actions/node-setup@main
        with:
          cache: npm
          node_version_file: .nvmrc
      - uses: krudi/reusable-actions/.github/actions/node-install@main
      - uses: krudi/reusable-actions/.github/actions/ci-command@main
        with:
          command: ${{ matrix.lint-commands }}
