name: Storybook Tests

on:
  push:
    branches:
      - main

  pull_request:
    types:
      - opened
      - synchronize
      - reopened

concurrency:
  group: test-storybook-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test-storybook:
    if: ${{ github.actor != 'dependabot[bot]' }}
    timeout-minutes: 30
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.57.0-noble
    strategy:
      fail-fast: false
      matrix:
        test-commands:
          - "npm run test:storybook:coverage"

    steps:
      - uses: krudi/reusable-actions/.github/actions/github-checkout@main
      - uses: krudi/reusable-actions/.github/actions/node-setup@main
        with:
          cache: npm
          node_version_file: .nvmrc
      - uses: krudi/reusable-actions/.github/actions/node-install@main
      - uses: krudi/reusable-actions/.github/actions/ci-command@main
        with:
          command: ${{ matrix.test-commands }}
